.place_margin_bs {
  margin: 0 auto 80px;
}

@media (max-width: 1024px) {
  .place_margin_bs {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 930px) {
  .place_margin_bs {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 320px) {
  .place_margin_bs {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}