.place_margin_center {
  margin: 0 auto 80px;
}

.place_margin_center:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place_margin_center {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 930px) {
  .place_margin_center {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 73px;
  }
}

@media (max-width: 767px) {
  .place_margin_center {
    margin-left: 5px;
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .place_margin_center {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}