.cover__subtitle {
  font-family: Inter, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: 0;
  max-width: 360px;
}

@media (min-width: 320px) and (max-width: 424px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 33px;
  }
}