.footer__copyright {
  font-family: Inter, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: right;
}

@media (max-width: 767px) {
  .footer__copyright {
    text-align: start;
    margin-top: 48px;
  }
}

@media (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}