.page__container-cover {
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
  .page__container-cover {
    margin-bottom: 88px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .page__container-cover {
    margin-bottom: 70px;
  }
}