.places_margin_bs {
  margin: 92px auto;
}

@media screen and (max-width: 930px) {
  .places_margin_bs {
    margin: 88px 0 90px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .places_margin_bs {
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .places_margin_bs {
    margin: 64px 0 66px;
  }
}