.lead__caption {
  font-family: Inter, serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  color: white;
  margin-top: 8px;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}