.intro__title {
  color: white;
  font-family: Inter, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    margin-top: 75px;
    font-size: 50px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  }
}